
/* Reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/*header__news*/
.header__news{
    width: 100%;
    height: 350px;
    display: flex;
}
.header__news--img{
    flex: 2 1;
}
.header__news--newslist{
    flex: 1 2;
    background-color: #1C2244;
}



/*main__content background*/
.container__background{
    width: 100%;
    height: 800px;
    background-image: url('/img/Home_page_Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container__background_color{
    width: 100%;
    height: 800px;
    background-color: #F2F2FF;
}

/*main__content navbar*/
.container__navbar{
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #5D5FEF;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
    /* margin: 0 0 1.5rem; */
}
.navbar--list{
    height: 60px;
    list-style: none;
    display: flex;
    margin: 0 90px;
}
.navbar--item-link{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
.navbar--item-link{
    width: 160px;
    height: 60px;
    line-height: 80px!important;
    padding: 0 1em!important;
    position: relative;
    color: white;
    font-size: 24px;
    font-weight: 700; /* Same as Bold */
}
.navbar--flex-spacer{
    flex-grow: 1;
}

/*main__content navbar navbar_dropdown*/
.has-dropdown-menu{
    position: relative;
}
.dropdown-menu{
    display: none;
    width: auto;
    position: absolute;
    top: 100%;
    left: 0;
    background: #7C88F5;
    list-style: none;
}
.dropdown-menu a{
    white-space: nowrap;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dropdown-menu a{
    width: 310px;
    height: 50px;
    color: white;
    font-size: 24px;
    font-weight: 500;
}
    /*navbar + dropdown effect*/
.navbar--item a:hover{
    background-color: #7C88F5;
}
.dropdown-menu a:hover{
    background-color: #5A66D0;
}
.has-dropdown-menu:hover .dropdown-menu{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
    display: flex;
    flex-direction: column;
}
.has-dropdown-menu:hover{
    background-color: #7C88F5;
}

/*main__content logo*/
.container__logo{
    padding-top: 80px;
    padding-left: 60px;
}
.logo--background{
    width: 522px;
    height: 549px;
    min-width: 500px;
    border-radius: 20px;
    background-color: #ff0000;
    background: rgba(32, 37, 77, 0.9);
}
.logo--content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
}
.icon{
    padding: 50px 0;
    font-size: 150px;
}
#logo-title{
    padding-top: 10px;
    font-size: 50px;
}
#logo-slogan{
    padding-top: 10px;
    font-size: 35px;
}
.logo--content h3{
    padding-top: 50px;
    font-size: 35px;
    font-weight: 500;
}


/*footer__main__content*/
.footer__content{
    width: 100%;
    height: 360px;
    background-color: #070B32;
}
.footer__content{
    padding: 40px 50px;
    color: white;
    font-size: 24px;
    font-weight: 400;
}
.content-title{
    height: 65px;
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.content-main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-content: center;
}
.main-column{
    width: max-content;
    margin: 0 auto;    
}
.column-content{
    width: max-content;

}
.column-link-list{  
    /* display: flex;   */
    width: max-content;
    flex-direction: column;    
    list-style: none;
}
.content-conclude{
    padding-top: 50px;
    text-align: center;
}



