
/* Reset CSS*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    position: relative;
}
/* Hàng xài chung chung  */
.center{
    display: flex;
    align-items: center;
    justify-content: center;    
}
.take_remain_space{
    flex: 1!important;
    margin: 0!important;

}

/*header__news*/
.home-page{
    display: flex;
    flex-direction: column;
}
.header__news{
    display: flex;
}
.header__news .header__news--img{
    width: 60%;
    height: 40vh;  
    background-image: url('/img/_116734510_fb04a850-8d34-421d-aff1-988acc6efabb.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* position: relative; */
}
.header__news--img .news--btn{
    height: 100%;
    width: 18%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0px;
}
.header__news--img .news--btn:hover {
    background-color: rgba(0, 0, 0, 0.3);
}
.header__news--img .news--btn:hover .sh-btn-icon {
    color: rgba(255, 255, 255, 0.8);
}
.header__news--img .sh-btn-back {
    left: 0px;
}
.header__news--img .sh-btn-next {
    right: 0px;
}
.header__news--img .sh-btn-icon {
    font-size: 90px;
    color: #fff;
}

.header__news--newslist{
    flex: 1;
    height: 40vh;
    background-color: #1C2244;
}

/*main__content navbar*/
.header__navbar{
    position: sticky;
    position: -webkit-sticky;
    top: -1px;
    width: 100%;
    height: 60px;
    background-color: #5D5FEF;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
    z-index: 9999;
}
.not_navbar_at_home{
    position: fixed;
    top: 0px;
}
.navbar--list{
    height: 60px;
    list-style: none;
    display: flex;
    margin: 0 90px;
}
.navbar--item-link{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
.navbar--item-link{
    width: 160px;
    height: 60px;
    line-height: 60px!important;
    padding: 0 1em!important;
    position: relative;
    color: white;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}
.navbar--flex-spacer{
    flex-grow: 1;
}

/*Current selected page*/
.is-active-in-navbar{
    background-color: #7C88F5;
}
.is-active-in-menu{
    border-radius: 20px;
    background-color:#D1E7F3;
    font-weight: 700;
}

/*main__content navbar navbar_dropdown*/
.has-dropdown-menu{
    position: relative;
}
.dropdown-menu{
    display: none;
    width: auto;
    position: absolute;
    top: 100%;
    left: 0;
    background: #7C88F5;
    list-style: none;
}
.dropdown-menu a{
    white-space: nowrap;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.dropdown-menu a{
    width: 310px;
    height: 50px;
    color: white;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
    /*navbar + dropdown effect*/
.navbar--item a:hover{
    background-color: #7C88F5;
}
.dropdown-menu a:hover{
    background-color: #5A66D0;
}
.has-dropdown-menu:hover .dropdown-menu{
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 10px;
    display: flex;
    flex-direction: column;
}
.has-dropdown-menu:hover{
    background-color: #7C88F5;
}

/*main__content background*/
.container__background{
    width: 100%;
    height: 800px;
    background-image: url('/img/Home_page_Background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
.container__background_color{
    width: 100%;
    height: 800px;
    background-color: #F2F2FF;
    display: flex;
    flex-direction: row;
}

/*main__content logo*/
.container__logo{
    padding-top: 80px;
    padding-left: 60px;
    font-family: 'Roboto', sans-serif;
}
.logo--background{
    width: 522px;
    height: 549px;
    min-width: 500px;
    border-radius: 20px;
    background-color: #ff0000;
    background: rgba(32, 37, 77, 0.9);
}
.logo--content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 500;
}
.icon{
    padding: 50px 0;
    font-size: 150px;
}
#logo-title{
    padding-top: 10px;
    font-size: 50px;
}
#logo-slogan{
    padding-top: 10px;
    font-size: 35px;
}
.logo--content h3{
    padding-top: 50px;
    font-size: 35px;
    font-weight: 300;
}

/*Doctor_content Spec Consult Register*/
.container__menu{
    flex-grow: 1;
}
.container__content{
    flex-grow: 10;
}
.box{
    display: block;      
    background-color: white; 
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 25%) 0px 4px 4px;
}
.menu__box{
    width: 300px;
    height: 205px;
    color:#546ADE;
    margin-left: 70px;
    padding: 20px 20px 0;
    font-weight: 600;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
.menu__box ul{
    list-style: none;
    /* padding: 20px 20px 0; */
    font-weight: normal;
}
.menu__box ul li{
    height: 50px;
    display: flex;
    margin-top: 20px;
    padding: 0 20px ;
}
.menu__box ul li .fas{
    display: flex;
    height: 50px;
    font-size: 30px;
    align-items: center;
    justify-content: center;
}
.menu__box ul li a{
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 18px;
    color:#546ADE;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.has-border-bottom{
    border-bottom: 1px solid #ECECEC;
    /* margin-right: 20px; */
}
.menu__box ul li:hover{
    border-radius: 20px;
    background-color:#D1E7F3;
    font-weight: 700;
}

.content__box{
    width: 80%;
    height: 560px;
    color:#000000;
    margin: 50px 10%;
}
 .patient-list{
    margin-top: 50px;
}
.create-form{
    margin-top: 30px;
}
.form-list{
    margin-top: 30px;
}
.button{
    width: 160px;
    height: 75px;
    border-radius: 20px;
    border: none;
    background-color: #5D5FEF;
    color: white;
    box-shadow:rgba(0, 0, 0, 25%) 0px 4px 4px;
    font-size: 20px;
    font-weight: 600;
    float: right;
    font-family: 'Roboto', sans-serif;
}
.button .fas{
    font-size: 30px;
}
.button-print{
    margin-right: 3%;
}
.button-reset{
    margin-right: 3%;
}
.button-confirm{
    margin-right: 12%;
}

.card-list{
    list-style: none;
    margin: 30px 100px 20px 60px;
    font-family: 'Roboto', sans-serif;
}
.card-list li:first-child{
    margin-top: 50px;
}
.card-list li{
    position: relative;
    margin-top: 20px;
    background: #FFF;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}
.short-card{
    display: flex;
}
.full-card{
    display: none;
}
.number-card{
    width: 15%;
    background-color: #3348B8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}
.number-card h1{
    color: white;
}
.card-list .in-waiting{
    width: 70%;
    padding: 10px 30px;
}
.card-list .in-database{
    width: 85%;
    padding: 10px 50px;
}
.has-border-top{
    border-top: 1px solid #ECECEC;
}
.card-list .fas{
    width: 15%;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin:0 50px 0 30px; */
}

.dropdown > [type="checkbox"] {
    width: 15%;
    height: 100%;
    opacity: 0;
    position: absolute;
    cursor: pointer;
    z-index: 10;
    margin-left: 85%;
}
.dropdown > input[type="checkbox"]:checked ~ .full-card {
    display: flex;
}
.dropdown > input[type="checkbox"]:checked ~ .short-card i.fa-chevron-down{
    transform: rotate(180deg);
}
.dropdown > input[type="checkbox"]:checked ~ .short-card .number-card{
    border-radius: 10px 10px 0 0;
}
.dropdown > input[type="checkbox"]:checked ~ .full-card .number-card{
    border-radius: 0 0 10px 10px;
}
/*footer__main__content*/
.footer__content{
    width: 100%;
    background-color: #070B32;
    font-family: 'Roboto', sans-serif;
}
.footer__content{
    padding: 40px 50px 30px;
    color: white;
    font-size: 24px;
    font-weight: 400;
}
.content-title{
    text-align: center;
    font-size: 30px;
    font-weight: 700;
}
.content-main{
    display: grid;
    padding-top: 10px;
    grid-template-columns: repeat(2,1fr);
    justify-content: center;
    align-content: center;
}
.main-column{
    width: max-content;
    margin: 0 auto;    
}
.column-content{
    width: max-content;

}
.column-link-list{  
    /* display: flex;   */
    width: max-content;
    flex-direction: column;    
    list-style: none;
}
.content-conclude{
    padding-top: 30px;
    text-align: center;
}



/* Start About Body */
.about-page .body{
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    top: 60px;
}
.about-page .body .content{
    background-color: #CFD3FA;
    width: 100%;
    height: calc(100vh - 120px);
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-weight: 500;
}

.about-page .body .mini_nav{
    position: fixed;
    z-index: 999;
    right: 3vw;
    top: calc(60px + 2vh);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
}

.about-page .mini_nav .mini_head{
    text-align: center;
    line-height: 40px;
    background-color: #546ADE;
    width: 100px;
    height: 30px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    border-top-left-radius: 50px;
    border-top-right-radius: 10px;
}
.about-page .mini_nav .mini_card{
    background-color: #fff;
    height: 60px;
    width: 520px;
    z-index: 999;
    border-radius: 50px 0 20px 20px;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
}
.about-page .mini_nav .opt_list{
    list-style-type: none;
    height: 50px;
}
.about-page .mini_nav .index{

}
.about-page .mini_nav .mini_icon{
    color: #546ADE;
    font-size: 30px;
    line-height: 40px;
    padding-right: 15px;
}
.about-page .mini_nav button{
    border: none;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
    background-color: #fff;
    color: #546ADE;
    padding: 0 15px;
    border-radius: 25px;
}
.about-page .mini_nav button:hover{
    background-color: rgba(67, 93, 241, 0.2);
}
.about-page .mini_nav .current{
    background-color: #546ADE;
    width: 100%;
    height: 2px;
    bottom: 5px;
    /* display: none; */
}


.about-page .body .hospital{
    /* none */
}
.about-page .hospital .photo{
    height: inherit;
    width: 50%;
    left: 45%;
    background-image: url('/img/hospital-img.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
.about-page .p_card{
    position: absolute;
    min-height: 85%;
    height: max-content;
    width: 42%;
    background-color: #fff;
    top: 50%;
    transform: translate(0, -50%);
    left: 7%;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.about-page .p_card h1{
    margin-top: 10%;
    text-align: center;
    line-height: 45px;
    text-size-adjust: 30px;
    color: #0A144B;
}
.about-page .p_card h2{
    text-align: center;
    text-size-adjust: 24px;
    line-height: 31px;
    color: #283DAC;
    margin-bottom: 5%;
}
.about-page .p_card p{
    margin: 0 10% 10% 10%;
    text-align: center;
}

.about-page .body .staff{
    background-color: #F2F2FF;
    display: flex;
    height: max-content;
}
.about-page .staff .column{
    display: flex;
    flex-direction: column;
    width: max-content;
    margin-left: 50px;
}
.about-page .staff .doctor{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 5px;
    border-radius: 0px;
    width: 460px;
    height: 70vh;
    flex-direction: column;
}
.about-page .staff .doc_photo{
    background-color: #D7DAF8;
    height: 75%;
    width: 90%;
    margin-top: 5%;
    flex-direction: row;
}
.about-page .photo_icon{
    font-size: 180px;
    color: #fff;
}
.about-page .staff .photo_foot{
    width: inherit;
    flex: 1;
    justify-content: space-between;
}
.about-page .staff .circle{
    background-color: #C7E1EF;
    height: 30px;
    width: 30px;
    border-radius: 15px;
    margin-left: 7%;
}
.about-page .staff .doc_info{
    margin-right: 7%;
    text-align: right;
}
.about-page .doc_info .doc_name{
    font-size: 24px;
    color: #000;
    font-weight: 400;
}
.about-page .doc_info .doc_field{
    font-size: 16px;
    color: #3348B8;
    font-weight: 400;
}
.about-page .staff .p_card{
    position: relative;
    top: 0px;
    transform: none;
    left: 0px;

    width: 50vw;
    height: 300px;
    min-height: 300px;
    margin-top: 10vh;
}
.about-page .p_card .d_title{
    margin-top: 5vh;
}
.about-page .staff .doc_list{
    display: flex;
    margin-top: 5vh;
    margin-bottom: 10vh;
    list-style-type: none;
}
.about-page .doc_list .doctor{
    height: 320px;
    width: 280px;
}

.about-page .doc_list .photo_icon{
    font-size: 100px;
}

.about-page .doc_list .circle{
    width: 15px;
    height: 15px;
}
.about-page .doc_list .doc_name{
    font-size: 18px;
}

.about-page .body .facility{
    height: calc(100vh - 60px);
}
.about-page .facility .fc_card{
    width: 45vw;
    height: 100%;
    background-color: #291072;
}
.about-page .facility .fc_title{
    color: #fff;
    position: absolute;
    top: 10vh;
    left: 5vw;

    font-weight: 500;
}
.about-page .facility .fc_content{
    color: #fff;
    top: 20vh;
    left: 7vw;
    height: max-content;
    width: 30vw;

    font-weight: 400;
}
.about-page .facility .photo_list{
    padding: 5px 0;
    position: absolute;
    left: 40vw;
    top: 20vh;
    background-color: #CFD3FA;
    list-style-type: none;
}
.about-page .photo_list .contain{
    height: 65vh;
    width: 18vw;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
}
.about-page .photo_list .photo{
    background-color: #fff;
    height: 47%;
    width: 90%;
}
.about-page .photo_list .whole{
    height: 97%;
    width: 100%;
}
.about-page .photo_list .photo_icon{
    color: #CFD3FA;
    font-size: 100px;
}
.about-page .footer_in_about{
    margin-top: 60px;
}
/* About Body End */